<h1>Bienvenue dans Snow Tricks!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À très vite!
</p>
