{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section class="my-4">
    <h1 class="text-center">Réinitialisez votre Mot Passe</h1>
    <hr>
    <section class="container">
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="text-center">
        <button class="btn my-4">Réinitialiser</button>
        </div>
    {{ form_end(resetForm) }}
    </section>
{% endblock %}
