section#up.banner {
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center !important;
    display: flex;
    color: #e8e8e8;
}

section#up.banner div {
    margin: auto;
}

#up .deledit {
    font-size: 2rem;
}

iframe {

    max-width: 15rem;
    max-height: 15rem;
}

.tricks-list ul {
    display: flex;
    justify-content: space-around;
}

ul li, ul, ul li a {
    background-color: transparent !important;
}

nav.pagination
{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

body {
    background-color:#e8e8e8 !important;
    color: #090909;
}

.navbar {
    background-color:#e8e8e8 !important;
    color: #090909;
}

.navbar button {
    border: 0;
}

input, textarea {
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 1rem;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 1px 1px 6px #c5c5c5 inset,
    -1px -1px 6px #ffffff inset;
}

input:hover, textarea:hover {
    border: 1px solid white;
}

input:focus, textarea:focus {
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff !important;
    border: 1px solid white !important;
}

/* From uiverse.io by @adamgiebl */
button:not(.navbar button, button.btn-delete), a.btn {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

button:not(.deledit):hover, a.btn:not(.deledit):hover {
    border: 1px solid white !important;
    background: #e8e8e8 !important;
    /*color: #090909 !important;*/
}

button:not(.deledit):active {
    box-shadow: 4px 4px 12px #c5c5c5,
    -4px -4px 12px #ffffff !important;
}

.languette {
      color: #090909;
      padding: 0.5em .5em;
      font-size: 18px;
      border-radius: 0.5em 0 0 0.5em;
      background: #e8e8e8;
      border: 1px solid #e8e8e8;
      box-shadow: 0 -6px 10px #c5c5c5 inset,  6px 6px 12px #ffffff inset;
    width: 6.5rem;
    margin-left: auto;
  }

a {
    color: #090909;
    font-size: 18px;
    transition: all .3s;
}

/* From uiverse.io by @adamgiebl */
.card {
    /*width: 190px;
    height: 254px;*/
    max-width: 25rem;
    border-radius: 30px;
    background: #e8e8e8;
    box-shadow: 15px 15px 30px #c5c5c5,
    -15px -15px 30px #ffffff;
    border: 0;
}

/*
.deledit:hover {
    transform: scale(1.5) !important;
    border: 0 !important;
    background: transparent !important;
}

.deledit:active {
    border: 0 !important;
}

.deledit:focus {
    border: 0 !important;
}*/

#carouselMedia, #carouselVideo {
    position: relative;
    height: 400px;
    top: 0;
    /*transform: translateY(-50%);*/
    overflow: hidden;
    width: 50vw;
}

#carouselMedia div, #carouselVideo div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carouselVideo div iframe {
    width: 400px;
    transition: width 1s;
}

#carouselMedia div img {
    max-width: 400px;
    max-height: 300px;
    transition: width 1s;
}

#carouselMedia div.hideLeft, #carouselVideo div.hideLeft {
    left: 0%;
    opacity: 0;
    width: 200px;
}

#carouselMedia div.hideRight, #carouselVideo div.hideRight {
    left: 100%;
    opacity: 0;
    width: 200px;
}

#carouselMedia div.prev, #carouselVideo div.prev {
    z-index: 5;
    left: 30%;
    width: 300px;
}

#carouselMedia div.prevLeftSecond, #carouselVideo div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    opacity: .7;
    width: 200px
}

#carouselMedia div.selected, #carouselVideo div.selected {
    z-index: 10;
    left: 50%;
}

#carouselMedia div.next, #carouselVideo div.next {
    z-index: 5;
    left: 70%;
    width: 300px;
}

#carouselMedia div.nextRightSecond, #carouselVideo div.nextRightSecond {
    z-index: 4;
    left: 85%;
    opacity: .7;
    width: 200px;
}

#carouselMedia div:not(.selected) .align-items-center {
    display: none !important;
}
